####################################################
# Comment/delete this to commit log and data files #
####################################################

log/
data/

####################################################

settings.txt
venv/
__pycache__/