####################################################
# Comment/delete this to commit log and data files #
####################################################

log/
data/

####################################################

venv/
__pycache__/